{namespace f=N1coode\NjArtgallery\ViewHelpers}
{namespace f=N1coode\NjPage\ViewHelpers}
{namespace f=N1coode\NjCollection\ViewHelpers}
<f:if condition="{artist}">
    <f:then>
		<f:render section="{version}" arguments="{_all}" />
    </f:then>
    <f:else>Message: no artist selected</f:else>
</f:if>

<f:section name="complete">
	<f:wrap.section type="header" role="header">
		<f:render section="summary" arguments="{_all}" />
	</f:wrap.section>
	<f:wrap.section type="main">
		<f:render section="artworks" arguments="{_all}" />
	</f:wrap.section>
</f:section>

<f:section name="header">
	
</f:section>


<f:section name="summary">
	<f:wrap.action ext="{ext}" class="header">
		
			
				<header>
					<h1>{artist.name}</h1>
					<p class="subtitle">
						<f:translate key="{ext.langFile}label.general.artist.{artist.gender}" />, <f:render partial="Artist/Info/Location" arguments="{artist:artist}" />
					</p>
					<f:render partial="Artist/Info/Categories" arguments="{artist:artist}" />
				</header>
				<div class="summary"><f:format.raw>{artist.summary}</f:format.raw></div>
	</f:wrap.action>
</f:section>
<f:section name="artworks">
	<f:wrap.action ext="{ext}" class="artworks">
		<div class="grid masonry artworks">
			<div class="grid-sizer"></div>
			<div class="gutter-sizer"></div>
			<f:for each="{artworks}" as="artwork" iteration="artworkIterator">
				<f:if condition="!{artworkIterator.isFirst}">
					<f:if condition="{artwork.image}">
						<div class="grid-item">
							<div class="artwork imgfix" data-uid="{artwork.uid}" data-onsale="{artwork.onSale}">
								<f:image src="{artwork.image.uid}" treatIdAsReference="1" alt="" width="620"></f:image>
								<f:render partial="Artwork/Info" arguments="{artwork:artwork,ext:ext,settings:settings}" />
							</div>
						</div>
					</f:if>
				</f:if>
			</f:for>
		</div>
		<f:render partial="JavascriptArguments" arguments="{js:js}"></f:render>
	</f:wrap.action>
</f:section>

<f:section name="exhibitions">
	
</f:section>