{namespace f=N1coode\NjArtgallery\ViewHelpers}
{namespace f=N1coode\NjPage\ViewHelpers}
<f:if condition="{artists}">
	<f:then>
		<f:wrap.action ext="{ext}" class="{ext.version}">
			<f:switch expression="{ext.version}">
				<f:case value="horizontal">
					<ul>
						<f:for each="{artists}" as="artist" iteration="iterator">
							<li><f:render section="artistName" arguments="{artist:artist}" /></li>
						</f:for>
					</ul>
				</f:case>
				<f:case value="vertical">
					<f:render partial="Grid" arguments="{_all}" />
				</f:case>
			</f:switch>
		</f:wrap.action>
	</f:then>
	<f:else>
		Message: No Artists found.
	</f:else>
</f:if>

<f:section name="artistName">
	<f:if condition="{artist.advertise}">
		<f:then>
			<f:if condition="{settings.model.artist.pid.focus}">
				<f:then><f:link.action pageUid="{settings.model.artist.pid.focus}" action="focus" arguments="{artist:artist}">{artist.name}</f:link.action></f:then>
				<f:else>{artist.name}</f:else>
			</f:if>
		</f:then>
		<f:else>{artist.name}</f:else>
	</f:if>
</f:section>