{namespace njvh=N1coode\NjArtgallery\ViewHelpers}
{namespace njcvh=N1coode\NjCollection\ViewHelpers}
<div class="grid masonry">
	<div class="grid-sizer"></div>
	<div class="gutter-sizer"></div>
	<f:if condition="{exhibitions}">
		<f:for each="{exhibitions}" as="exhibition" iteration="iterator">
			<f:render section="grid-item" arguments="{renderType:'exhibition',exhibition:exhibition}" />
		</f:for>
	</f:if>	
	<f:if condition="{artists}">
		<f:for each="{artists}" as="artist" iteration="iterator">
			<f:render section="grid-item" arguments="{renderType:'artist',artist:artist}" />
		</f:for>
	</f:if>	
</div>


				

<f:section name="grid-item">
	<div class="grid-item">
		<f:switch expression="{renderType}">
			<f:case value="exhibition">
				<f:if condition="{settings.model.exhibition.pid.focus}">
					<f:then>
						<f:link.action pageUid="{settings.model.exhibition.pid.focus}" action="focus" arguments="{exhibition:exhibition}">
							<f:render section="container" arguments="{_all}" />
						</f:link.action>
					</f:then>
					<f:else>
						<f:render section="container" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:case>
			<f:case value="artist">
				<f:if condition="{artist.advertise}">
					<f:then>
						<f:if condition="{settings.model.artist.pid.focus}">
							<f:then>
								<f:link.action pageUid="{settings.model.artist.pid.focus}" action="focus" arguments="{artist:artist}">
									<f:render section="container" arguments="{_all}" />
								</f:link.action>
							</f:then>
							<f:else>
								<f:render section="container" arguments="{_all}" />
							</f:else>
						</f:if>
					</f:then>
					<f:else>
						<f:render section="container" arguments="{_all}" />
					</f:else>
				</f:if>
			</f:case>
		</f:switch>
	</div>
</f:section>

<f:section name="container">
	<div class="container">
		<div class="title">
	<f:switch expression="{renderType}">
		<f:case value="exhibition">
			<div class="date"><f:format.date format="d.m.Y">{exhibition.exhibitionStart}</f:format.date> - <f:format.date format="d.m.Y">{exhibition.exhibitionEnd}</f:format.date></div>
			<h2>{exhibition.title}</h2>
		</f:case>
		<f:case value="artist">
			<h2>{artist.name}</h2>
		</f:case>
	</f:switch>
			</div>
			<div class="image">
				<f:alias map="{width:320}">
	<f:switch expression="{renderType}">
		<f:case value="exhibition">
			<f:if condition="{exhibition.teaserImage}">
				<f:image src="{exhibition.teaserImage.uid}" treatIdAsReference="1" width="{width}" height="{njcvh:ratio(input:width)}c" />
			</f:if>
		</f:case>
		<f:case value="artist">
			<f:if condition="{artist.teaserArtwork}">
				<f:image src="{artist.teaserArtwork.image.uid}" treatIdAsReference="1" width="{width}" />
			</f:if>
		</f:case>
	</f:switch>
				</f:alias>
			</div>
			<div class="info">
	<f:switch expression="{renderType}">
		<f:case value="exhibition">
			<f:if condition="{exhibition.artists}">
				<p>
					<f:for each="{exhibition.artists}" as="artist" iteration="i">
						{artist.name}<f:if condition="{i.isLast}"><f:then> u.a.</f:then><f:else>, </f:else></f:if>
					</f:for>
				</p>
			</f:if>
		</f:case>
		<f:case value="artist">
			<f:if condition="{artist.summary}">
				<f:format.raw>{artist.summary}</f:format.raw>
			</f:if>
		</f:case>
	</f:switch>
		</div>
	</div>
</f:section>