{namespace f=N1coode\NjCollection\ViewHelpers}
<script>
	var {js.variableName} = [];
	{js.variableName}['container'] = '{js.container}';
	{js.variableName}['langId'] = '{js.lang.id}';
	{js.variableName}['langIso'] = '{js.lang.iso}';
	{js.variableName}['typeNum'] = '{js.typeNum}';
	{js.variableName}['pageId'] = '{js.pageId}';
</script>




<f:Comment>
	var nj_internship_listDirections_settings                           = new Array();
    nj_internship_listDirections_settings['pid']                        = '{njSettings.page.id}';
    nj_internship_listDirections_settings['pids']                       = new Array();
    nj_internship_listDirections_settings['pids']['leaflet']            = '{njSettings.pids.leaflet}';
    nj_internship_listDirections_settings['pids']['list']               = '{njSettings.pids.list}';
    nj_internship_listDirections_settings['pids']['registration']       = '{njSettings.pids.registration}';
    nj_internship_listDirections_settings['ajax']                       = new Array();
    nj_internship_listDirections_settings['ajax']['action']             = '{njSettings.ajax.action}';
    nj_internship_listDirections_settings['ajax']['lang']               = new Array();
    nj_internship_listDirections_settings['ajax']['lang']['id']         = '{njSettings.ajax.lang.id}';
    nj_internship_listDirections_settings['ajax']['lang']['iso']        = '{njSettings.ajax.lang.iso}';
    nj_internship_listDirections_settings['ajax']['path']               = new Array();
    nj_internship_listDirections_settings['ajax']['path']['partial']    = '{njSettings.ajax.path.partial}';
    nj_internship_listDirections_settings['ajax']['path']['template']   = '{njSettings.ajax.path.template}';
    nj_internship_listDirections_settings['ajax']['typeNum']            = '{njSettings.ajax.typeNum}';
    nj_internship_listDirections_settings['id_selector']                = '{njSettings.id_selector}';
</f:Comment>
