{namespace f=N1coode\NjArtgallery\ViewHelpers}
{namespace f=N1coode\NjCollection\ViewHelpers}
{namespace f=N1coode\NjPage\ViewHelpers}
<f:wrap.action ext="{ext}">
	<header>
		<date>
			<f:format.date format="d.m.Y">{exhibition.exhibitionStart}</f:format.date> &ndash; <f:format.date format="d.m.Y">{exhibition.exhibitionEnd}</f:format.date>
		</date>
		<h1>{exhibition.title}</h1>
		<f:render partial="Exhibition/Type" arguments="{exhibition:exhibition}" />
	</header>
	<f:if condition="{exhibition.artists}">
		<section class="artists">
			<f:for each="{exhibition.artists}" as="artist" iteration="artistIterator">
				{artist.name}<f:if condition="{artistIterator.isLast}==0">, </f:if>
			</f:for>
			<f:if condition="{filteredArtists}"> u.a.</f:if>
		</section>
	</f:if>
	<f:if condition="{exhibition.artworks}">
		<section class="artworks">
			<f:for each="{exhibition.artworks}" as="artwork" iteration="artworkIterator">
				<div class="thumbnail" data-artwork="{artwork.uid}">
					<f:image src="{artwork.image.uid}" alt="{artwork.title}" height="250" maxHeight="250" treatIdAsReference="1" />
				</div>
			</f:for>
		</section>
	</f:if>
	<f:if condition="{exhibition.description}">
		<section class="description">
			<f:format.raw>{exhibition.description}</f:format.raw>
		</section>
	</f:if>
	<f:if condition="{exhibition.impressions}">
		<f:render partial="Exhibition/Impressions" arguments="{exhibition:exhibition}" />
	</f:if>
</f:wrap.action>