{namespace njVH=N1coode\NjArtgallery\ViewHelpers}
{namespace njcVH=N1coode\NjCollection\ViewHelpers}
<div class="{ext.key} {ext.domain} {ext.action} clearfix">
	<div class="date">
		<f:format.date format="d.m.Y">{exhibition.exhibitionStart}</f:format.date> &ndash; <f:format.date format="d.m.Y">{exhibition.exhibitionEnd}</f:format.date>
	</div>
	<h1>{exhibition.title}</h1>
	<div class="type">
		<f:if condition="{exhibition.type}==0">
			<f:then>
				<f:translate key="actualTeaser.type.0">Gruppenausstellung</f:translate>
			</f:then>
			<f:else>
				<f:translate key="actualTeaser.type.1">Einzelausstellung</f:translate>
			</f:else>
		</f:if>
	</div>
	<f:if condition="{exhibition.artists}">
		<njcVH:wrapper additionalClass="artists">
			<f:for each="{exhibition.artists}" as="artist" iteration="artistIterator">
				{artist.name}<f:if condition="{artistIterator.isLast}==0">, </f:if>
			</f:for>
			<f:if condition="{filteredArtists}"> u.a.</f:if>
		</njcVH:wrapper>
	</f:if>
	<f:if condition="{exhibition.artworks}">
		<njcVH:wrapper additionalClass="artworks">
			<f:for each="{exhibition.artworks}" as="artwork" iteration="artworkIterator">
				<div class="thumbnail" data-artwork="{artwork.uid}">
					<f:image src="{artwork.image.uid}" alt="{artwork.title}" height="150" treatIdAsReference="1" />
				</div>
			</f:for>
		</njcVH:wrapper>
	</f:if>
	<f:if condition="{exhibition.description}">
		<njcVH:wrapper additionalClass="description">
			<f:format.raw>{exhibition.description}</f:format.raw>
		</njcVH:wrapper>
	</f:if>
	<f:if condition="{exhibition.impressions}">
		<f:render partial="Exhibition/Impressions" arguments="{exhibition:exhibition}" />
	</f:if>
	
	<f:render partial="JavascriptArguments" arguments="{js:js}"></f:render>
</div>